* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --pink-logo: #C64B74FF;
    --pink-nav: #e96ca2;
    --pink-button: #fe71c1;

}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

h1, h2, h3 {
    font-family: "Bodony Moda SC", serif;
    text-transform: uppercase;
    font-weight: normal;
}

header {
    background-color: var(--pink-logo);
    width: auto;
    font-weight: normal;
    font-size: large;
}

header img {
    height: 190px;
}

header .container {
    display: flex;
    align-items: center;
}

header nav a {
    font-family: "Bodoni Moda SC", serif;
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
    padding: 8px 35px ;
    display: inline-block;
}

nav a:hover {
    background-color: var(--pink-nav);
    border-radius: 30px;
}

.home-img {
    display: flex;
    justify-content: space-around;
}

.home-img img{
    height: 12rem;
}

.jardim-secreto {
    text-align: center;
    position: relative;
}

.jardim-secreto .container{
    display: flex;
    justify-content: space-between;
    margin: 3rem 0;
}

.jardim-secreto img {
    max-height: 20rem;
    width: 20rem;
    border-radius: 3.5rem;
    object-fit: cover;
}

.jardim-secreto .button {
    font-family: Raleway, serif;
    text-decoration: none;
    font-size: 23px;
    font-style: italic;
    color: white;
    background-color: var(--pink-button);
    border-radius: 5px;
    padding: 8px;
    bottom: 3rem;
    left: 32rem;
    position: absolute;
}

.bloco-texto-jardim {
    margin-top: 4rem;
}

.bloco-texto-jardim p {
    display: block;
    font-family: "Bodony Moda SC", serif;
    font-style: italic;
    font-size: 1.5rem;
    line-height: 2rem;
    color:  #fe71c1;
}

.titulo hr {
    width: 30%;
    display: inline-block;
}

.titulo h2 {
    font-size: 1.2rem;
    display: inline-block;
    padding: 0 1rem;
}

.produtos {
    text-align: center;
    position: relative;
    margin: 5rem 0;
}

.favorites {
    display: flex;
    margin: 5rem 0;
}

.favorites article {
    width: 50rem;
    padding: 3rem;
    border-radius: 3rem;
    border: 1px #ffb8de solid;
    margin-right: 2rem;
    box-shadow: 0 0 10px rgba(254, 113, 193, 0.35);
}

.favorites article:hover {
    box-shadow: 0 0 10px rgba(255, 51, 167, 0.51);
    border: 1px #ff87c7 solid;
}

.favorites article h3 {
    font-size: 1.2rem;
    margin: 2rem 0;
    color: black;
}

.favorites article p {
    text-align: justify;
    font-family: Raleway, serif;
    font-size: 1.2rem;
}

.favorites img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s ease;
    border-radius: 30%;
}

.favorites img:hover {
    transform: translateY(-10px);
}

/*<!-- Deborah mexeu até aqui-->*/

p.descricao {
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px 0;
}

.newsletter-form {
    background-color: var(--pink-logo);
    padding: 25px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    width: 100%; 
    box-sizing: border-box; 
    margin: 0 auto;
}

.newsletter-form label {
    margin-right: 20px;
    margin-bottom: 20px;
    color: white;
    font-family: "Montserrat", serif;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
}

.newsletter-form input {
    padding: 7px;
    border: 1px solid #ccc;
    margin-right: 25px; 
    font-family: "Raleway", serif;
    font-size: 15px;
}

.newsletter-form button {
    background-color: white;
    border: 1px solid #ccc;
    color: gray;
    cursor: pointer;
    font-family: "Raleway", serif;
    font-size: 15px;
    height: 35px;
    width: 150px;
}

footer {
    background-color: var(--pink-logo);
    width: auto;
    padding: 20px;
    box-sizing: border-box;
}

footer .container{
    display: flex;
    align-items: center;
}

.footer-info {
    width: 100%;
    text-align: center;
    margin-bottom: 1.5rem;
}
.footer-info p{
    display: inline;
    color: white;
    font-family: "Bodoni Moda SC", serif;
    font-size: 1rem;
    margin-right: 1rem;
    text-decoration: none;
    align-items: flex-start;
    text-align: center;
    /*text-transform: uppercase;*/
}

.footer-text-p{
    margin-bottom: 10px
}

.footer-text h4{
    font-family: "Bodoni Moda SC", serif;
    color: white;
    text-decoration: none;
}

.img-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-info p {
    font-family: "Raleway", serif;
    color: white;
}

.img-info img {
    max-height: 4rem;
    margin-right: 2rem;
}

.imagens-texto {
    display: flex;
    justify-content: center;
}

